.features-hero {
  padding: 75px 0 25%; }
  .features-hero h1 {
    margin-bottom: 50px;
    color: #fff; }
  .features-hero .qbutton {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 4px;
    background: #7fe34a;
    background: linear-gradient(#7fe34a, #33b700);
    color: #fff;
    font-weight: 700; }
    .features-hero .qbutton:hover {
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 4px;
      background: #9BE970;
      background: linear-gradient(#9BE970, #51CC0A);
      color: #fff;
      font-weight: 700; }
  .features-hero .big_large-f1 {
    height: 58px;
    line-height: 58px;
    font-size: 20px; }

.feature-slider {
  padding: 80px 0 40px; }
  .feature-slider h1 {
    margin-bottom: 25px; }
  .feature-slider .g-col-12 {
    margin-bottom: 70px; }
  .feature-slider .content-mobile {
    display: none; }
  .feature-slider .g-col-5 img {
    display: none; }
    .feature-slider .g-col-5 img.active {
      display: inline; }
  .feature-slider .g-col-6 {
    display: flex;
    flex-wrap: wrap; }
    .feature-slider .g-col-6 > div {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      border-left: 1.5px solid #e1e5ec;
      transition: all .4s ease; }
      .feature-slider .g-col-6 > div.active {
        padding-left: 29px;
        border-left: 2px solid #0288d1; }
        .feature-slider .g-col-6 > div.active h2 {
          color: #0288d1; }
        .feature-slider .g-col-6 > div.active p {
          color: #78909c; }
        .feature-slider .g-col-6 > div.active .feature-slider__headline img {
          filter: grayscale(0); }
  .feature-slider__headline {
    font-size: 42px;
    display: flex;
    align-items: center;
    color: #90a4ae; }
    .feature-slider__headline img {
      margin-right: 10px;
      width: 40px;
      filter: grayscale(80%) brightness(125%);
      transition: all .4s ease; }
  .feature-slider__content {
    margin-left: 52px; }
    .feature-slider__content p {
      color: #90a4ae; }

.features-checklist {
  padding: 90px 0; }
  .features-checklist h1 {
    margin-bottom: 25px;
    color: #fff; }
  .features-checklist h2 {
    color: #fff; }
  .features-checklist .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #fff; }
    .features-checklist .list > div {
      flex: 0 0 10%;
      margin: 30px 0;
      padding: 0 20px;
      border-left: 1px solid #e1e5ec;
      border-right: 1px solid #e1e5ec; }
      .features-checklist .list > div:first-of-type {
        border-left: 1px solid transparent; }
      .features-checklist .list > div:last-of-type {
        border-right: 1px solid transparent; }
  .features-checklist i {
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    background: #7fe34a;
    background: linear-gradient(#7fe34a, #33b700); }

.features-columns {
  padding: 100px 0;
  background-color: #f1f4f6; }
  .features-columns h1 {
    margin-bottom: 60px; }
  .features-columns .g-col-4 > div {
    padding: 0 20px; }
  .features-columns img {
    width: 80px;
    margin-bottom: 25px; }

.page-template-features .section3-desk #btnSignupIntegrate,
#btnSignupIntegrate,
#btnSignup,
#btnSignUp a:not(.requestDemo),
#btnSignUp1 a:not(.requestDemo),
#btnsignup,
#btnSignUpCenter .qbutton {
  background: #7fe34a;
  background: linear-gradient(#9be970, #33b700); }
  .page-template-features .section3-desk #btnSignupIntegrate:hover,
  #btnSignupIntegrate:hover,
  #btnSignup:hover,
  #btnSignUp a:not(.requestDemo):hover,
  #btnSignUp1 a:not(.requestDemo):hover,
  #btnsignup:hover,
  #btnSignUpCenter .qbutton:hover {
    background: linear-gradient(#9be070, #51cc0a); }

#btnsignup {
  border: none !important;
  padding: 5px; }
  #btnsignup:hover {
    background: linear-gradient(#51CC0A, #9BE970); }

#btnlogin {
  padding: 4px; }

@media screen and (max-width: 1039px) {
  .features-checklist .list > div:last-of-type {
    border-left: none; } }

@media screen and (max-width: 1023px) {
  .page-template-features .section3-desk {
    background: none !important;
    padding-bottom: 100px !important; }
    .page-template-features .section3-desk .vc_col-sm-6 {
      float: none;
      width: auto;
      max-width: 600px;
      margin: 0 auto; }
    .page-template-features .section3-desk h1 {
      text-align: center !important; }
    .page-template-features .section3-desk .wpb_wrapper > div {
      text-align: center !important; }
    .page-template-features .section3-desk .requestDemo {
      display: block;
      margin: 30px auto 0;
      text-align: center; } }

@media screen and (max-width: 812px) {
  .features-checklist .list > div:last-of-type {
    border-left: 1px solid #e1e5ec;
    border-right: 1px solid #e1e5ec; }
  .features-checklist .list > div:nth-of-type(5) {
    border-right: none; } }

@media screen and (max-width: 767px) {
  .feature-slider {
    padding-top: 40px; }
    .feature-slider h1 {
      font-size: 30px; }
    .feature-slider h2 {
      font-size: 24px; }
    .feature-slider .g-col-12 {
      margin-bottom: 50px; }
    .feature-slider .g-col-5 {
      order: 3; }
    .feature-slider .g-col-10 {
      order: 2; }
    .feature-slider .g-col-6 {
      order: 1;
      margin-bottom: 30px;
      flex-wrap: nowrap;
      justify-content: center; }
      .feature-slider .g-col-6 > div {
        padding: 10px !important;
        border-bottom: 3px solid #e1e5ec;
        border-left: none;
        transition: all .4s ease; }
        .feature-slider .g-col-6 > div.active {
          border-bottom: 4px solid #0288d1;
          border-left: none; }
    .feature-slider__headline {
      display: flex;
      justify-content: center;
      flex-direction: column; }
  .features-checklist {
    padding: 40px 0; }
    .features-checklist h1 {
      margin-bottom: 25px;
      font-size: 30px; }
    .features-checklist h2 {
      font-size: 24px; }
  .features-columns {
    padding: 50px 0; }
    .features-columns h1 {
      margin-bottom: 25px;
      font-size: 30px; }
    .features-columns h2 {
      font-size: 24px; }
    .features-columns .g-col-4 {
      margin-bottom: 30px; }
  .requestDemo {
    margin-right: 30px !important; }
  .features-checklist {
    padding: 90px 0; }
    .features-checklist h1 {
      margin-bottom: 50px;
      color: #fff; }
    .features-checklist h2 {
      color: #fff; }
    .features-checklist .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      margin-top: 30px;
      border-radius: 4px;
      background-color: #fff; }
      .features-checklist .list > div {
        flex: 0 0 10%;
        margin: 30px 0;
        padding: 0 20px;
        border-left: 1px solid #e1e5ec;
        border-right: 1px solid #e1e5ec; }
        .features-checklist .list > div:first-of-type {
          border-left: 1px solid transparent; }
        .features-checklist .list > div:nth-of-type(3) {
          border-right: 1px solid transparent; }
        .features-checklist .list > div:nth-of-type(4) {
          border-left: 1px solid transparent; }
        .features-checklist .list > div:nth-of-type(6) {
          border-right: 1px solid transparent; }
        .features-checklist .list > div:last-of-type {
          border-right: 1px solid transparent;
          border-left: 1px solid transparent; } }
