// Factor1 Styles
@mixin button($color1, $color2) {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 4px;
  background: $color1;
  background: linear-gradient($color1, $color2);
  color: #fff;
  font-weight: 700;
}

.features-hero {
  padding: 75px 0 25%;

  h1 {
    margin-bottom: 50px;
    color: #fff;
  }

  .qbutton {
    @include button(#7fe34a, #33b700);
  }
}
