// Factor1 Styles
@mixin button($color1, $color2) {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 4px;
  background: $color1;
  background: linear-gradient($color1, $color2);
  color: #fff;
  font-weight: 700;
}

.page-template-features .wrapper .wrapper_inner .content.content_top_margin {
  margin-top: 0 !important;
}

.features-hero {
  padding: 115px 0 25%;

  h1 {
    margin-bottom: 50px;
    color: #fff;
  }

  .qbutton {
    @include button(#7fe34a, #33b700);

    &:hover {
      @include button(#9BE970, #51CC0A);
    }
  }

  .big_large-f1 {
    height: 58px;
    line-height: 58px;
    font-size: 20px;
  }
}

.feature-slider {
  padding: 80px 0 40px;

  h1 {
    margin-bottom: 25px;
  }

  .g-col-12 {
    margin-bottom: 70px;
  }

  .content-mobile {
    display: none;
  }

  .g-col-5 img {
    display: none;

    &.active {
      display: inline;
    }
  }

  .g-col-6 {
    display: flex;
    flex-wrap: wrap;

    > div {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      border-left: 2px solid #e1e5ec;
      transition: all .4s ease;

      &.active {
        padding-left: 29px;
        border-left: 3px solid #0288d1;

        h2 {
          color: #0288d1;
        }

        p {
          color: #78909c;
        }

        .feature-slider__headline img {
          filter: grayscale(0);
        }
      }
    }
  }

  &__headline {
    font-size: 42px;
    display: flex;
    align-items: center;
    color: #90a4ae;

    img {
      margin-right: 10px;
      width: 40px;
      filter: grayscale(80%) brightness(125%);
      transition: all .4s ease;
    }
  }

  &__content {
    margin-left: 52px;

    p {
      color: #90a4ae;
    }
  }
}

.features-checklist {
  padding: 90px 0;

  h1 {
    margin-bottom: 25px;
    color: #fff;
  }

  h2 {
    color: #fff;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #fff;

    > div {
      flex: 0 0 10%;
      margin: 30px 0;
      padding: 0 20px;
      border-left: 1px solid #e1e5ec;
      border-right: 1px solid #e1e5ec;

      &:first-of-type {
        border-left: 1px solid transparent;
      }

      &:last-of-type {
        border-right: 1px solid transparent;
      }
    }
  }

  i {
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    background: #7fe34a;
    background: linear-gradient(#7fe34a, #33b700);
  }
}

.features-columns {
  padding: 100px 0;
  background-color: #f1f4f6;

  h1 {
    margin-bottom: 60px;
  }

  .g-col-4 > div {
    padding: 0 20px;
  }

  img {
    width: 80px;
    margin-bottom: 25px;
  }
}

.page-template-features .section3-desk #btnSignupIntegrate,
#btnSignupIntegrate,
#btnSignup,
#btnSignUp a:not(.requestDemo),
#btnSignUp1 a:not(.requestDemo),
#btnsignup,
#btnSignUpCenter .qbutton {
  background: #7fe34a;
  background: linear-gradient(#9be970, #33b700);
  &:hover {
    background: linear-gradient(#9be070, #51cc0a);
  }
}

#btnsignup {
  border: none !important;
  padding: 5px;
  &:hover {
    background: linear-gradient(#51CC0A, #9BE970);
  }
}

#btnlogin {
  padding: 4px;
}

// Media Queries
@media screen and (max-width: 1024px) {
  .features-checklist {
    .list > div {
      flex: 0 0 17%;

      &:nth-of-type(4) {
        border-right-color: transparent;
      }

      &:nth-of-type(5) {
        border-left-color: transparent;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .page-template-features {
    .section3-desk {
      background: none !important;
      padding-bottom: 100px !important;

      .vc_col-sm-6 {
        float: none;
        width: auto;
        max-width: 600px;
        margin: 0 auto;
      }

      h1 {
        text-align: center !important;
      }

      .wpb_wrapper > div {
        text-align: center !important;
      }

      .requestDemo {
        display: block;
        margin: 30px auto 0;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .features-hero {
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .features-hero {
    padding-top: 115px;
  }

  .feature-slider {
    padding-top: 40px;

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 24px;
      line-height: 1.125;
    }

    .g-col-12 {
      margin-bottom: 50px;
    }

    .g-col-5 {
      order: 3;
    }

    .g-col-10 {
      order: 2;
    }

    .g-col-6 {
      order: 1;
      margin-bottom: 30px;
      flex-wrap: nowrap;
      justify-content: center;

      > div {
        padding: 10px !important;
        border-bottom: 3px solid #e1e5ec;
        border-left: none;
        transition: all .4s ease;

        &.active {
          border-bottom: 4px solid #0288d1;
          border-left: none;
        }
      }
    }

    &__headline {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  .features-columns {
    padding: 50px 0;

    h1 {
      margin-bottom: 25px;
      font-size: 30px;
    }

    h2 {
      font-size: 24px;
    }

    .g-col-4 {
      margin-bottom: 30px;
    }
  }

  .requestDemo {
    margin-right: 30px !important;
  }

  .features-checklist {
    padding: 40px 0;
    padding: 90px 0;

    h1 {
      margin-bottom: 25px;
      font-size: 30px;
      color: #fff;
    }

    h2 {
      font-size: 24px;
      color: #fff;
      line-height: 1.125;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      margin-top: 30px;
      border-radius: 4px;
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 550px) {
  .features-checklist .list > div {
    flex: 0 0 20%;

    &:nth-of-type(3),
    &:nth-of-type(6) {
      border-right-color: transparent;
    }

    &:nth-of-type(4),
    &:last-of-type {
      border-left-color: transparent;
    }

    &:nth-of-type(4) {
      border-right-color: #e1e5ec;
    }

    &:nth-of-type(5) {
      border-right-color: #e1e5ec;
      border-left-color: #e1e5ec;
    }
  }
}

@media screen and (max-width: 400px) {
  .features-checklist .list > div {
    flex: 0 0 100%;
    border-color: transparent !important;
  }
}
